<?xml version="1.0" encoding="utf-8"?>

<configuration>
  
  <configSections>
  <section name="applicationConfig"
           type="TraiderInformationService.Core.Interfaces.Configuration.Sections.ApplicationConfigurationSection, TraiderInformationService.Core.Interfaces, Version=1.0.0.0, Culture=neutral"/>
</configSections>

  <applicationConfig>
  <applicationModes>
    <add name ="dev" uriPrefix="application/dev" active="true"/>
    <add name ="prod" uriPrefix="application/dist" active="false"/>
  </applicationModes>
</applicationConfig>

</configuration>